// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.paginate p {
    margin: 1rem 0;
}

.w-5 {
    width: 25px;
}
.h-5 {
    height: 25px;
}

.r-0 {
    right: 0;
}
.t-0 {
    top: 0;
}
